@import url('fontawesome.css');
@import url('duotone.css');

:root {
  --background-color: #1a1a1a;
  --background-color-medium: #191514;
  --border-color: #382F27;
  --text-color: #AEA08B;
  --hover-color: #3A3B38;

  --accent-color-1: #D4A373; /* золотистый оттенок */
  --accent-color-2: #F0D9B5; /* светлый золотисто-бежевый */
  --accent-color-3: #D1603D; /* терракотовый */
  --accent-color-4: #A8442C; /* насыщенный красный коричневый */
  --accent-color-5: #497A78; /* мягкий тёмный бирюзовый */
  --accent-color-6: #79A29E; /* приглушённый светлый бирюзовый */
  --accent-color-7: #FFFFFF;
  --accent-color-8: #8C6D49; /* глубокий янтарный */
  --accent-color-gold: #D4AF37;

  --navbar-height: 75px;
  --gap: 10px;
  --cell-size: 20px;
  --grid-row-length: 50;

  --z-battlers: 1;
  --z-tooltip: 10;
}

@font-face {
  font-family: 'Skyhook';
  src: url('@/shared/assets/fonts/Skyhook.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shobhika';
  src: url('@/shared/assets/fonts/shobhika_regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shobhika';
  src: url('@/shared/assets/fonts/shobhika_bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

h1,h2, h3, h4, h5 {
  margin: 0;
}

body {
  font-family: Shobhika, 'Times New Roman', Times, serif;
  background-color: var(--background-color);
  color: var(--text-color);
  user-select: none;
  ::selection {
    background: var(--border-color)
  }
  cursor: url('@/shared/assets/cursors/cursor09_gb_20.png'), auto;
}

#app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: 
    radial-gradient(circle at 25% 25%, rgba(73, 122, 120, 0.1) 0%, transparent 20%),
    radial-gradient(circle at 75% 75%, rgba(161, 68, 44, 0.1) 0%, transparent 20%);
}


